<h1>Bookreviews#index</h1>
<h3>Bookreviews</h3>

<ul>
  <% @bookreviews.each do |bookreview| %>
    <li>
      <%= link_to bookreview.book, bookreview %>
    </li>
  <% end %>
</ul>

<%= link_to "New Bookreview", search_path %>