<h1><%= @bookreview.book %></h1>

<p><%= @bookreview.body %></p>

<ul>
  <li><%= link_to "Edit", edit_bookreview_path(@bookreview) %></li>
  <li><%= link_to "Delete", bookreview_path(@bookreview),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>