<!--Bookreviews#index-->
<html>
  <head>
  </head>
  <body>
    <h3>My book reviews</h3>

    <div class="new-review">
      <div class="btn">
        <%= link_to "New book review", search_path, class: "name-link" %>
      </div>
    </div>

    <div class="review-container">
      <div class="row row-cols-1 row-cols-md-6 g-4">
        <% @book_reviews.each do |book_review| %>
          <% book = GoogleBooks.search("isbn:#{book_review.book_id}").first %>
          <div class="col">
            <div class="card h-100">
              <div class="image-container">
                <img src="<%= book.image_link %>" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= link_to book.title, book_review, class: "name-link" %></h5>
                <p class="card-text"><%= book_review.body %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
  </body>
<html>