<div class="search-container">
  <div class="bar">
    <%= form_tag("/new", method: "get") do %>
      <%= text_field_tag(:q) %>
  </div>
  <div class="search-btn">
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>