<h1>Books#index</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<div class="row row-cols-1 row-cols-md-6 g-4">
  <% @books.each do |book| %>
    <div class="col">
      <a href="<%= new_bookreview_path%>">
        <div class="card h-100">
          <div class="image-container">
            <img src="<%= book.image_link %>" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text">Card-text goes here.</p>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>