/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* The following block just resets the described in parameters for all elements.

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
*/

/* The following block adjusts the size of body and html elements to maximum without showing scroll bar. */
body, html {
  height: 96%;
  width: 99.4%;
  color: bisque;
  background-color: rgb(0, 0, 0);
}



#user_email, #user_password, #user_password_confirmation {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #292929;
  background-clip: padding-box;
  border: 1px solid #634e37;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*
div {
  border: 1px solid rgb(255, 0, 0);
}
*/

#user_email:focus, #user_password:focus, #user_password_confirmation:focus {
  color: bisque;
  background-color: #292929;
  border-color: #BC9568;
  outline: 0;
}

#user_email:hover, #user_password:hover, #user_password_confirmation:hover {
  background-color: #3b3b3b;
}

input[type="submit"] {
  background-color: #5a5a5a;
  color: blanchedalmond;
  font-size: medium;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #8d8d8d;
  color: blanchedalmond;
  font-size: medium;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

.field {
  padding: 10px;
}

.rememberable {
  font-size: 14px;
}

.links {
  padding: 10px;
  font-size: large;
}

.nav-link:hover, .nav-link:focus {
  color: #8d8d8d;
}

::placeholder {
  color: #5a5a5a;
}