// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit !important;
}
*/

h3 {
  padding: 10px;
}

.review-container {
  padding: 20px;
}

.image-container {
  height: 200px;
  background-color: black;
}

.card-body {
  background-color: rgb(29, 25, 25);
}

.card {
  background-color: rgb(70, 60, 60);
}

.name-link {
  font-size: large;
  color: rgb(167, 142, 142);
  text-decoration: none;
}

.name-link:hover, .name-link:focus {
  color: rgb(117, 99, 99);
}

.card-text {
  color: rgb(121, 100, 100);
}

.new-review {
  text-align: center;
  padding: 10px;
}

.btn {
  background-color: rgb(70, 60, 60) !important;
}