// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit !important;
}
*/

h3 {
  padding: 10px;
}

.review-container {
  padding: 20px;
}

.image-container {
  height: 200px;
  background-color: black;
}

a {
  text-decoration: none !important;
}

.card:hover {
  background-color: rgb(29, 25, 25);
  border: 1px solid rgb(59, 51, 51);
}

.card-title {
  font-size: large;
  color: rgb(167, 142, 142);
  text-decoration: none;
}

.card-body {
  background-color: transparent;
}

.card-text {
  color: rgb(121, 100, 100);
}

.new-review {
  text-align: center;
  padding: 10px;
}

.btn {
  background-color: rgb(70, 60, 60) !important;
}


.name-link {
  font-size: large;
  color: rgb(167, 142, 142);
  text-decoration: none;
}

.name-link:hover, .name-link:focus {
  color: rgb(117, 99, 99);
}

.content {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -80%) !important;
  padding: 10px;
  text-align: center;
}

input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #634e37;
  border-radius: 20px;
  padding: 0px 20px;
  color: bisque;
}

input:hover {
  background-color: #292929;
  border: none;
}

.search-btn {
  padding: 20px;
  text-align: center;
}

/*
div {
  border: greenyellow 1px solid;
}
*/